.card-grid .columns {
  margin-left: -0.5rem !important;
  margin-right: -0.5rem !important;
  margin-top: -0.5rem !important;
}
.card-grid .column {
  padding: 0.5rem !important;
}
.card-grid-v2 .card-grid-item .card {
  border: 1px solid var(--fade-grey-dark-4);
  box-shadow: none;
  border-radius: var(--radius-large);
}
.card-grid-v2 .card-grid-item .card .card-header {
  box-shadow: none;
  border-bottom: 1px solid var(--fade-grey-dark-4);
}
.card-grid-v2 .card-grid-item .card .card-header .card-header-title {
  display: flex;
  align-items: center;
}
.card-grid-v2 .card-grid-item .card .card-header .card-header-title .meta {
  margin-left: 10px;
  line-height: 1.2;
}
[dir=rtl] .card-grid-v2 .card-grid-item .card .card-header .card-header-title .meta {
  margin-left: unset;
  margin-right: 10px;
}
.card-grid-v2 .card-grid-item .card .card-header .card-header-title .meta span {
  display: block;
  font-weight: 400;
}
.card-grid-v2 .card-grid-item .card .card-header .card-header-title .meta span:first-child {
  font-family: var(--font-alt);
  font-size: 0.95rem;
  color: var(--dark-text);
  font-weight: 600;
}
.card-grid-v2 .card-grid-item .card .card-header .card-header-title .meta span:nth-child(2) {
  font-size: 0.9rem;
  color: var(--light-text);
}
.card-grid-v2 .card-grid-item .card .card-image img {
  object-fit: cover;
}
.card-grid-v2 .card-grid-item .card .card-content {
  border-top: 1px solid var(--fade-grey-dark-4);
  padding: 1rem;
}
.card-grid-v2 .card-grid-item .card .card-content .card-content-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-grid-v2 .card-grid-item .card .card-content .card-content-flex .card-info h3 {
  font-family: var(--font-alt);
  font-size: 1rem;
  color: var(--dark-text);
  font-weight: 600;
}
.card-grid-v2 .card-grid-item .card .card-content .card-content-flex .card-info p {
  font-size: 0.9rem;
}
.card-grid-v2 .card-grid-item .card .card-content .card-content-flex .card-info p svg {
  position: relative;
  top: 0;
  height: 14px;
  width: 14px;
  margin-right: 4px;
}
[dir=rtl] .card-grid-v2 .card-grid-item .card .card-content .card-content-flex .card-info p svg {
  margin-left: 4px;
  margin-right: unset;
}
.card-grid-v2 .card-grid-item .card .card-footer a {
  font-family: var(--font);
  color: var(--light-text);
  padding: 1rem 0.75rem;
  transition: all 0.3s;
}
.card-grid-v2 .card-grid-item .card .card-footer a:hover {
  background: var(--fade-grey-light-4);
  color: var(--primary);
}
.is-dark .card-grid-v2 .card-grid-item {
  border-color: var(--dark-sidebar-light-12);
}
.is-dark .card-grid-v2 .card-grid-item .card {
  background: var(--dark-sidebar-light-6);
  border-color: var(--dark-sidebar-light-12);
}
.is-dark .card-grid-v2 .card-grid-item .card .card-header {
  border-color: var(--dark-sidebar-light-12);
}
.is-dark .card-grid-v2 .card-grid-item .card .card-content {
  border-color: var(--dark-sidebar-light-12);
}
.is-dark .card-grid-v2 .card-grid-item .card .card-content .avatar-stack .avatar {
  border-color: var(--dark-sidebar-light-6);
}
.is-dark .card-grid-v2 .card-grid-item .card .card-footer {
  border-color: var(--dark-sidebar-light-12);
}
.is-dark .card-grid-v2 .card-grid-item .card .card-footer a {
  border-color: var(--dark-sidebar-light-12);
}
.is-dark .card-grid-v2 .card-grid-item .card .card-footer a:hover {
  background: var(--dark-sidebar-light-2);
  color: var(--primary);
}