.demo-code-wrapper[data-v-3e645ac4] {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 2rem;
  overflow-x: auto;
  direction: ltr;
}
.demo-code-wrapper .demo-code[data-v-3e645ac4] {
  flex-grow: 1;
}
.demo-code-wrapper .demo-state[data-v-3e645ac4] {
  position: relative;
  margin-bottom: 1.5rem;
  max-width: 100%;
}
.demo-code-wrapper .demo-state[data-v-3e645ac4]::before {
  position: absolute;
  top: 0.6em;
  right: 1em;
  z-index: 2;
  font-size: 0.8rem;
  color: #888;
  content: "state";
}
[dir=rtl] .demo-code-wrapper .demo-state[data-v-3e645ac4]::before {
  left: 1em;
  right: 1em;
}
.is-dark .demo-state pre[data-v-3e645ac4] {
  background: #1a1a1f;
  border-radius: 0.75rem;
  color: #c0c0d1;
}
.demo-example > .v-avatar[data-v-3e645ac4] {
  margin: 0 0.15rem;
}