/* ==========================================================================
4. Invoice
========================================================================== */
.invoice-wrapper {
  max-width: 740px;
  margin: 0 auto;
}
.invoice-wrapper.is-navbar {
  margin-top: 30px;
}
.invoice-wrapper .invoice-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--fade-grey-dark-4);
}
.invoice-wrapper .invoice-header .left h3 {
  font-family: var(--font-alt);
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--dark-text);
}
.invoice-wrapper .invoice-header .right .controls {
  display: flex;
}
.invoice-wrapper .invoice-header .right .controls .action {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  min-width: 32px;
  border-radius: var(--radius-rounded);
  color: var(--light-text);
  margin: 0 4px;
  transition: all 0.3s;
}
.invoice-wrapper .invoice-header .right .controls .action:hover {
  color: var(--dark-text);
  background: var(--fade-grey-dark-4);
}
.invoice-wrapper .invoice-header .right .controls .action svg {
  height: 16px;
  width: 16px;
  stroke-width: 1.6px;
}
.invoice-wrapper .invoice-body .invoice-card {
  flex: 1;
  display: inline-block;
  width: 100%;
  padding: 20px;
  background-color: var(--white);
  border-radius: var(--radius-large);
  border: 1px solid var(--fade-grey-dark-3);
  transition: all 0.3s;
  padding: 0;
}
.invoice-wrapper .invoice-body .invoice-card.has-margin-bottom {
  margin-bottom: 1.5rem;
}
.invoice-wrapper .invoice-body .invoice-card.is-flat {
  box-shadow: none;
}
.invoice-wrapper .invoice-body .invoice-card.is-raised {
  box-shadow: var(--light-box-shadow);
}
.invoice-wrapper .invoice-body .invoice-card.is-primary {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--primary--color-invert);
}
.invoice-wrapper .invoice-body .invoice-card.is-primary .title,
.invoice-wrapper .invoice-body .invoice-card.is-primary .subtitle,
.invoice-wrapper .invoice-body .invoice-card.is-primary h1,
.invoice-wrapper .invoice-body .invoice-card.is-primary h2,
.invoice-wrapper .invoice-body .invoice-card.is-primary h3,
.invoice-wrapper .invoice-body .invoice-card.is-primary h4,
.invoice-wrapper .invoice-body .invoice-card.is-primary p {
  color: var(--smoke-white) !important;
}
.invoice-wrapper .invoice-body .invoice-card.is-secondary {
  background: var(--secondary) !important;
  border-color: var(--secondary) !important;
}
.invoice-wrapper .invoice-body .invoice-card.is-secondary .title,
.invoice-wrapper .invoice-body .invoice-card.is-secondary .subtitle,
.invoice-wrapper .invoice-body .invoice-card.is-secondary h1,
.invoice-wrapper .invoice-body .invoice-card.is-secondary h2,
.invoice-wrapper .invoice-body .invoice-card.is-secondary h3,
.invoice-wrapper .invoice-body .invoice-card.is-secondary h4,
.invoice-wrapper .invoice-body .invoice-card.is-secondary p {
  color: var(--smoke-white) !important;
}
.invoice-wrapper .invoice-body .invoice-card.is-info {
  background: var(--info) !important;
  border-color: var(--info) !important;
}
.invoice-wrapper .invoice-body .invoice-card.is-info .title,
.invoice-wrapper .invoice-body .invoice-card.is-info .subtitle,
.invoice-wrapper .invoice-body .invoice-card.is-info h1,
.invoice-wrapper .invoice-body .invoice-card.is-info h2,
.invoice-wrapper .invoice-body .invoice-card.is-info h3,
.invoice-wrapper .invoice-body .invoice-card.is-info h4,
.invoice-wrapper .invoice-body .invoice-card.is-info p {
  color: var(--smoke-white) !important;
}
.invoice-wrapper .invoice-body .invoice-card.is-success {
  background: var(--success) !important;
  border-color: var(--success) !important;
}
.invoice-wrapper .invoice-body .invoice-card.is-success .title,
.invoice-wrapper .invoice-body .invoice-card.is-success .subtitle,
.invoice-wrapper .invoice-body .invoice-card.is-success h1,
.invoice-wrapper .invoice-body .invoice-card.is-success h2,
.invoice-wrapper .invoice-body .invoice-card.is-success h3,
.invoice-wrapper .invoice-body .invoice-card.is-success h4,
.invoice-wrapper .invoice-body .invoice-card.is-success p {
  color: var(--smoke-white) !important;
}
.invoice-wrapper .invoice-body .invoice-card.is-warning {
  background: var(--warning) !important;
  border-color: var(--warning) !important;
}
.invoice-wrapper .invoice-body .invoice-card.is-warning .title,
.invoice-wrapper .invoice-body .invoice-card.is-warning .subtitle,
.invoice-wrapper .invoice-body .invoice-card.is-warning h1,
.invoice-wrapper .invoice-body .invoice-card.is-warning h2,
.invoice-wrapper .invoice-body .invoice-card.is-warning h3,
.invoice-wrapper .invoice-body .invoice-card.is-warning h4,
.invoice-wrapper .invoice-body .invoice-card.is-warning p {
  color: var(--smoke-white) !important;
}
.invoice-wrapper .invoice-body .invoice-card.is-danger {
  background: var(--danger) !important;
  border-color: var(--danger) !important;
}
.invoice-wrapper .invoice-body .invoice-card.is-danger .title,
.invoice-wrapper .invoice-body .invoice-card.is-danger .subtitle,
.invoice-wrapper .invoice-body .invoice-card.is-danger h1,
.invoice-wrapper .invoice-body .invoice-card.is-danger h2,
.invoice-wrapper .invoice-body .invoice-card.is-danger h3,
.invoice-wrapper .invoice-body .invoice-card.is-danger h4,
.invoice-wrapper .invoice-body .invoice-card.is-danger p {
  color: var(--smoke-white) !important;
}
.invoice-wrapper .invoice-body .invoice-card .card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.invoice-wrapper .invoice-body .invoice-card .card-head .left,
.invoice-wrapper .invoice-body .invoice-card .card-head .right {
  display: flex;
  align-items: center;
}
.invoice-wrapper .invoice-body .invoice-card .card-head .left .title {
  font-size: 1.2rem;
  font-weight: 500;
}
.invoice-wrapper .invoice-body .invoice-card .card-head .right {
  justify-content: flex-end;
}
.invoice-wrapper .invoice-body .invoice-card .card-inner {
  padding-top: 1.75rem;
}
.invoice-wrapper .invoice-body .invoice-card .invoice-section {
  padding: 40px;
}
.invoice-wrapper .invoice-body .invoice-card .invoice-section.is-flex {
  display: flex;
  align-items: center;
}
.invoice-wrapper .invoice-body .invoice-card .invoice-section.is-flex .meta {
  margin-left: 16px;
  font-family: var(--font);
}
[dir=rtl] .invoice-wrapper .invoice-body .invoice-card .invoice-section.is-flex .meta {
  margin-left: unset;
  margin-right: 16px;
}
.invoice-wrapper .invoice-body .invoice-card .invoice-section.is-flex .meta h3 {
  font-family: var(--font-alt);
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
}
.invoice-wrapper .invoice-body .invoice-card .invoice-section.is-flex .meta span {
  display: block;
  color: var(--light-text);
  font-weight: 400;
  font-size: 0.9rem;
}
.invoice-wrapper .invoice-body .invoice-card .invoice-section.is-flex .end {
  margin-left: auto;
  text-align: right;
}
[dir=rtl] .invoice-wrapper .invoice-body .invoice-card .invoice-section.is-flex .end {
  margin-left: unset;
  margin-right: auto;
  text-align: left;
}
.invoice-wrapper .invoice-body .invoice-card .invoice-section.is-flex .end.is-left {
  text-align: left;
  max-width: 300px;
}
[dir=rtl] .invoice-wrapper .invoice-body .invoice-card .invoice-section.is-flex .end.is-left {
  text-align: right;
}
.invoice-wrapper .invoice-body .invoice-card .invoice-section.is-flex .end.is-left p {
  padding-top: 4px;
  font-size: 0.95rem;
  line-height: 1.2;
}
.invoice-wrapper .invoice-body .invoice-card .invoice-section.is-flex .end h3 {
  font-family: var(--font-alt);
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
}
.invoice-wrapper .invoice-body .invoice-card .invoice-section.is-flex .end span {
  display: block;
  color: var(--light-text);
  font-weight: 400;
  font-size: 0.9rem;
}
.invoice-wrapper .invoice-body .invoice-card .invoice-section.is-bordered {
  border-bottom: 1px solid var(--fade-grey-dark-3);
}
.invoice-wrapper .invoice-body .invoice-card .invoice-section .v-avatar.is-customer {
  border: 1.6px solid var(--fade-grey-dark-3);
  border-radius: var(--radius-rounded);
  box-shadow: var(--light-box-shadow);
}
.invoice-wrapper .invoice-body .invoice-card .invoice-section .flex-table.sub-table .flex-table-item {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  min-height: 40px;
  border: none;
}
.invoice-wrapper .invoice-body .invoice-card .invoice-section .flex-table.sub-table .flex-table-item .table-label {
  font-family: var(--font);
  text-transform: uppercase;
  font-size: 0.8rem;
  color: var(--light-text);
}
.invoice-wrapper .invoice-body .invoice-card .invoice-section .flex-table.sub-table .flex-table-item .table-total {
  font-family: var(--font);
  color: var(--dark-text);
  font-weight: 500;
}
.invoice-wrapper .invoice-body .invoice-card .invoice-section .flex-table.sub-table .flex-table-item .table-total.is-bigger {
  font-size: 1.2rem;
  font-weight: 600;
}
.invoice-wrapper .invoice-body .invoice-card .invoice-section .flex-table .flex-table-header span:not(:first-child) {
  justify-content: flex-end;
}
.invoice-wrapper .invoice-body .invoice-card .invoice-section .flex-table .flex-table-item .flex-table-cell:not(:first-child) {
  justify-content: flex-end;
}
/* ==========================================================================
5. Invoice Dark mode
========================================================================== */
.is-dark .invoice-wrapper .invoice-header {
  border-color: var(--dark-sidebar-light-20);
}
.is-dark .invoice-wrapper .invoice-header .left h3 {
  color: var(--dark-dark-text);
}
.is-dark .invoice-wrapper .invoice-header .right .controls .action {
  border: 1px solid transparent;
}
.is-dark .invoice-wrapper .invoice-header .right .controls .action:hover {
  background: var(--dark-sidebar-light-2);
  border-color: var(--primary);
  color: var(--primary);
}
.is-dark .invoice-wrapper .invoice-body .invoice-card {
  background: var(--dark-sidebar-light-6);
  border-color: var(--dark-sidebar-light-12);
}
.is-dark .invoice-wrapper .invoice-body .invoice-card .v-avatar img {
  border-color: var(--dark-sidebar-light-6) !important;
}
.is-dark .invoice-wrapper .invoice-body .invoice-card .avatar-stack .v-avatar {
  border-color: var(--dark-sidebar-light-6) !important;
}
.is-dark .invoice-wrapper .invoice-body .invoice-card .avatar-stack .v-avatar .avatar.is-more .inner {
  border-color: var(--dark-sidebar-light-6) !important;
}
.is-dark .invoice-wrapper .invoice-section {
  border-color: var(--dark-sidebar-light-12) !important;
}
.is-dark .invoice-wrapper .invoice-section.is-flex .v-avatar {
  border-color: var(--dark-sidebar-light-12) !important;
}
.is-dark .invoice-wrapper .invoice-section.is-flex .meta h3,
.is-dark .invoice-wrapper .invoice-section.is-flex .end h3 {
  color: var(--dark-dark-text);
}
@media only screen and (max-width: 767px) {
.invoice-wrapper .invoice-section.is-flex {
    flex-direction: column;
    text-align: center;
}
.invoice-wrapper .invoice-section.is-flex .v-avatar {
    margin-bottom: 16px;
}
.invoice-wrapper .invoice-section.is-flex .meta {
    margin-left: 0 !important;
}
[dir=rtl] .invoice-wrapper .invoice-section.is-flex .meta {
    margin-left: unset !important;
    margin-right: 0 !important;
}
.invoice-wrapper .invoice-section.is-flex .end {
    margin: 16px auto 0 auto;
    text-align: center !important;
}
[dir=rtl] .invoice-wrapper .invoice-section.is-flex .end {
    margin: 16px auto 0 auto !important;
}
.invoice-wrapper .invoice-section .flex-table.sub-table {
    padding-top: 16px;
}
.invoice-wrapper .invoice-section .flex-table.sub-table .is-vhidden {
    display: none !important;
}
.invoice-wrapper .invoice-section .flex-table.sub-table .flex-table-item:not(.is-vhidden) {
    flex-direction: revert !important;
}
.invoice-wrapper .invoice-section .flex-table .flex-table-item .flex-table-cell.is-grow > span {
    margin-left: 0;
}
[dir=rtl] .invoice-wrapper .invoice-section .flex-table .flex-table-item .flex-table-cell.is-grow > span {
    margin-left: unset;
    margin-right: 0;
}
}