.is-navbar .personal-dashboard {
  margin-top: 30px;
}
.personal-dashboard-v1 .dashboard-header {
  display: flex;
  align-items: center;
  font-family: var(--font);
  margin-bottom: 30px;
}
.personal-dashboard-v1 .dashboard-header .start {
  margin-left: 12px;
}
[dir=rtl] .personal-dashboard-v1 .dashboard-header .start {
  margin-left: 0;
  margin-right: 12px;
}
.personal-dashboard-v1 .dashboard-header .start h3 {
  font-family: var(--font-alt);
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--dark-text);
}
.personal-dashboard-v1 .dashboard-header .end {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
[dir=rtl] .personal-dashboard-v1 .dashboard-header .end {
  margin-left: 0;
  margin-right: auto;
}
.personal-dashboard-v1 .dashboard-header .end .button {
  margin-left: 10px;
}
[dir=rtl] .personal-dashboard-v1 .dashboard-header .end .button {
  margin-left: 0;
  margin-right: 10px;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card {
  flex: 1;
  display: inline-block;
  width: 100%;
  padding: 20px;
  background-color: var(--white);
  border-radius: var(--radius-large);
  border: 1px solid var(--fade-grey-dark-3);
  transition: all 0.3s;
  font-family: var(--font);
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.has-margin-bottom {
  margin-bottom: 1.5rem;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-flat {
  box-shadow: none;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-raised {
  box-shadow: var(--light-box-shadow);
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-primary {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--primary--color-invert);
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-primary .title,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-primary .subtitle,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-primary h1,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-primary h2,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-primary h3,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-primary h4,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-primary p {
  color: var(--smoke-white) !important;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-secondary {
  background: var(--secondary) !important;
  border-color: var(--secondary) !important;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-secondary .title,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-secondary .subtitle,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-secondary h1,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-secondary h2,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-secondary h3,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-secondary h4,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-secondary p {
  color: var(--smoke-white) !important;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-info {
  background: var(--info) !important;
  border-color: var(--info) !important;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-info .title,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-info .subtitle,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-info h1,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-info h2,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-info h3,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-info h4,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-info p {
  color: var(--smoke-white) !important;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-success {
  background: var(--success) !important;
  border-color: var(--success) !important;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-success .title,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-success .subtitle,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-success h1,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-success h2,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-success h3,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-success h4,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-success p {
  color: var(--smoke-white) !important;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-warning {
  background: var(--warning) !important;
  border-color: var(--warning) !important;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-warning .title,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-warning .subtitle,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-warning h1,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-warning h2,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-warning h3,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-warning h4,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-warning p {
  color: var(--smoke-white) !important;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-danger {
  background: var(--danger) !important;
  border-color: var(--danger) !important;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-danger .title,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-danger .subtitle,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-danger h1,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-danger h2,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-danger h3,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-danger h4,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-danger p {
  color: var(--smoke-white) !important;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card .card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card .card-head .left,
.personal-dashboard-v1 .dashboard-body .dashboard-card .card-head .right {
  display: flex;
  align-items: center;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card .card-head .left .title {
  font-size: 1.2rem;
  font-weight: 500;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card .card-head .right {
  justify-content: flex-end;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card .card-inner {
  padding-top: 1.75rem;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card > h4,
.personal-dashboard-v1 .dashboard-body .dashboard-card .ApexCharts-title-text {
  font-family: var(--font-alt);
  font-size: 1rem;
  font-weight: 600;
  color: var(--dark-text);
  margin-bottom: 12px;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card .quick-stats .quick-stats-inner {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card .quick-stats .quick-stats-inner .quick-stat {
  width: calc(50% - 16px);
  padding: 40px 20px;
  background: var(--widget-grey);
  margin: 8px;
  border-radius: var(--radius-large);
  transition: all 0.3s;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card .quick-stats .quick-stats-inner .quick-stat ::v-deep(.media-flex-center) .flex-meta span:first-child {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--dark-text);
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-upgrade {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-light-8);
  border-color: var(--primary-light-8);
  padding: 20px 40px;
  min-height: 320px;
  border-radius: var(--radius-large);
  box-shadow: var(--primary-box-shadow);
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-upgrade .lnil,
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-upgrade .lnir {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 4rem;
  opacity: 0.3;
}
[dir=rtl] .personal-dashboard-v1 .dashboard-body .dashboard-card.is-upgrade .lnil,
[dir=rtl] .personal-dashboard-v1 .dashboard-body .dashboard-card.is-upgrade .lnir {
  left: 1rem;
  right: auto;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-upgrade .cta-content {
  text-align: center;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-upgrade .cta-content h4 {
  font-family: var(--font-alt);
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--smoke-white);
  margin-bottom: 8px;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-upgrade .link {
  display: block;
  font-family: var(--font-alt);
  font-weight: 500;
  margin-top: 0.5rem;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-upgrade .link:hover {
  color: var(--smoke-white);
  opacity: 0.6;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-gauge {
  position: relative;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-gauge .people {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  z-index: 5;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card.is-gauge .people .v-avatar {
  margin: 0 4px;
}
.is-dark .personal-dashboard-v1 .dashboard-header .start h3 {
  color: var(--dark-dark-text);
}
.is-dark .personal-dashboard-v1 .dashboard-body .dashboard-card {
  background: var(--dark-sidebar-light-6);
  border-color: var(--dark-sidebar-light-12);
}
.is-dark .personal-dashboard-v1 .dashboard-body .dashboard-card .v-avatar img {
  border-color: var(--dark-sidebar-light-6) !important;
}
.is-dark .personal-dashboard-v1 .dashboard-body .dashboard-card .avatar-stack .v-avatar {
  border-color: var(--dark-sidebar-light-6) !important;
}
.is-dark .personal-dashboard-v1 .dashboard-body .dashboard-card .avatar-stack .v-avatar .avatar.is-more .inner {
  border-color: var(--dark-sidebar-light-6) !important;
}
.is-dark .personal-dashboard-v1 .dashboard-body .dashboard-card.is-upgrade {
  background: var(--primary);
  border-color: var(--primary);
  box-shadow: var(--primary-box-shadow);
}
.is-dark .personal-dashboard-v1 .dashboard-body .dashboard-card .quick-stats .quick-stats-inner .quick-stat {
  background: var(--dark-sidebar-light-2);
  border: 1px solid var(--dark-sidebar-light-12);
}
.is-dark .personal-dashboard-v1 .dashboard-body .dashboard-card .quick-stats .quick-stats-inner .quick-stat .media-flex-center .flex-meta span:first-child {
  color: var(--dark-dark-text);
}
@media only screen and (max-width: 767px) {
.personal-dashboard-v1 .dashboard-header {
    text-align: center;
    flex-direction: column;
}
.personal-dashboard-v1 .dashboard-header .start {
    margin: 10px auto;
}
.personal-dashboard-v1 .dashboard-header .end {
    margin: 0;
    justify-content: space-between;
}
[dir=rtl] .personal-dashboard-v1 .dashboard-header .end {
    margin: 0;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card .quick-stats .quick-stats-inner .quick-stat {
    padding: 20px;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card .quick-stats .quick-stats-inner .quick-stat .media-flex-center {
    flex-direction: column;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card .quick-stats .quick-stats-inner .quick-stat .media-flex-center .flex-meta {
    margin: 10px 0;
    text-align: center;
}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
.personal-dashboard-v1 .dashboard-body .dashboard-card .quick-stats .quick-stats-inner .quick-stat {
    padding: 20px 20px;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card .quick-stats .quick-stats-inner .quick-stat .media-flex-center {
    flex-direction: column;
}
.personal-dashboard-v1 .dashboard-body .dashboard-card .quick-stats .quick-stats-inner .quick-stat .media-flex-center .flex-meta {
    margin: 2px 0 0 0;
    text-align: center;
}
}