.tile-grid .columns {
  margin-left: -0.5rem !important;
  margin-right: -0.5rem !important;
  margin-top: -0.5rem !important;
}
.tile-grid .column {
  padding: 0.5rem !important;
}
.tile-grid-v2 .tile-grid-item {
  flex: 1;
  display: inline-block;
  width: 100%;
  padding: 20px;
  background-color: var(--white);
  border-radius: var(--radius-large);
  border: 1px solid var(--fade-grey-dark-3);
  transition: all 0.3s;
  border-radius: 14px;
  padding: 16px;
  cursor: pointer;
}
.tile-grid-v2 .tile-grid-item.has-margin-bottom {
  margin-bottom: 1.5rem;
}
.tile-grid-v2 .tile-grid-item.is-flat {
  box-shadow: none;
}
.tile-grid-v2 .tile-grid-item.is-raised {
  box-shadow: var(--light-box-shadow);
}
.tile-grid-v2 .tile-grid-item.is-primary {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--primary--color-invert);
}
.tile-grid-v2 .tile-grid-item.is-primary .title,
.tile-grid-v2 .tile-grid-item.is-primary .subtitle,
.tile-grid-v2 .tile-grid-item.is-primary h1,
.tile-grid-v2 .tile-grid-item.is-primary h2,
.tile-grid-v2 .tile-grid-item.is-primary h3,
.tile-grid-v2 .tile-grid-item.is-primary h4,
.tile-grid-v2 .tile-grid-item.is-primary p {
  color: var(--smoke-white) !important;
}
.tile-grid-v2 .tile-grid-item.is-secondary {
  background: var(--secondary) !important;
  border-color: var(--secondary) !important;
}
.tile-grid-v2 .tile-grid-item.is-secondary .title,
.tile-grid-v2 .tile-grid-item.is-secondary .subtitle,
.tile-grid-v2 .tile-grid-item.is-secondary h1,
.tile-grid-v2 .tile-grid-item.is-secondary h2,
.tile-grid-v2 .tile-grid-item.is-secondary h3,
.tile-grid-v2 .tile-grid-item.is-secondary h4,
.tile-grid-v2 .tile-grid-item.is-secondary p {
  color: var(--smoke-white) !important;
}
.tile-grid-v2 .tile-grid-item.is-info {
  background: var(--info) !important;
  border-color: var(--info) !important;
}
.tile-grid-v2 .tile-grid-item.is-info .title,
.tile-grid-v2 .tile-grid-item.is-info .subtitle,
.tile-grid-v2 .tile-grid-item.is-info h1,
.tile-grid-v2 .tile-grid-item.is-info h2,
.tile-grid-v2 .tile-grid-item.is-info h3,
.tile-grid-v2 .tile-grid-item.is-info h4,
.tile-grid-v2 .tile-grid-item.is-info p {
  color: var(--smoke-white) !important;
}
.tile-grid-v2 .tile-grid-item.is-success {
  background: var(--success) !important;
  border-color: var(--success) !important;
}
.tile-grid-v2 .tile-grid-item.is-success .title,
.tile-grid-v2 .tile-grid-item.is-success .subtitle,
.tile-grid-v2 .tile-grid-item.is-success h1,
.tile-grid-v2 .tile-grid-item.is-success h2,
.tile-grid-v2 .tile-grid-item.is-success h3,
.tile-grid-v2 .tile-grid-item.is-success h4,
.tile-grid-v2 .tile-grid-item.is-success p {
  color: var(--smoke-white) !important;
}
.tile-grid-v2 .tile-grid-item.is-warning {
  background: var(--warning) !important;
  border-color: var(--warning) !important;
}
.tile-grid-v2 .tile-grid-item.is-warning .title,
.tile-grid-v2 .tile-grid-item.is-warning .subtitle,
.tile-grid-v2 .tile-grid-item.is-warning h1,
.tile-grid-v2 .tile-grid-item.is-warning h2,
.tile-grid-v2 .tile-grid-item.is-warning h3,
.tile-grid-v2 .tile-grid-item.is-warning h4,
.tile-grid-v2 .tile-grid-item.is-warning p {
  color: var(--smoke-white) !important;
}
.tile-grid-v2 .tile-grid-item.is-danger {
  background: var(--danger) !important;
  border-color: var(--danger) !important;
}
.tile-grid-v2 .tile-grid-item.is-danger .title,
.tile-grid-v2 .tile-grid-item.is-danger .subtitle,
.tile-grid-v2 .tile-grid-item.is-danger h1,
.tile-grid-v2 .tile-grid-item.is-danger h2,
.tile-grid-v2 .tile-grid-item.is-danger h3,
.tile-grid-v2 .tile-grid-item.is-danger h4,
.tile-grid-v2 .tile-grid-item.is-danger p {
  color: var(--smoke-white) !important;
}
.tile-grid-v2 .tile-grid-item .card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tile-grid-v2 .tile-grid-item .card-head .left,
.tile-grid-v2 .tile-grid-item .card-head .right {
  display: flex;
  align-items: center;
}
.tile-grid-v2 .tile-grid-item .card-head .left .title {
  font-size: 1.2rem;
  font-weight: 500;
}
.tile-grid-v2 .tile-grid-item .card-head .right {
  justify-content: flex-end;
}
.tile-grid-v2 .tile-grid-item .card-inner {
  padding-top: 1.75rem;
}
.tile-grid-v2 .tile-grid-item:hover {
  border-color: var(--primary);
  box-shadow: var(--light-box-shadow);
}
.tile-grid-v2 .tile-grid-item .tile-grid-item-inner {
  display: flex;
  align-items: center;
}
.tile-grid-v2 .tile-grid-item .tile-grid-item-inner > img {
  display: block;
  width: 50px;
  height: 50px;
  min-width: 50px;
}
.tile-grid-v2 .tile-grid-item .tile-grid-item-inner .meta {
  margin-left: 10px;
  line-height: 1.4;
}
[dir=rtl] .tile-grid-v2 .tile-grid-item .tile-grid-item-inner .meta {
  margin-left: unset;
  margin-right: 10px;
}
.tile-grid-v2 .tile-grid-item .tile-grid-item-inner .meta span {
  display: block;
  font-family: var(--font);
}
.tile-grid-v2 .tile-grid-item .tile-grid-item-inner .meta span:first-child {
  color: var(--dark-text);
  font-family: var(--font-alt);
  font-weight: 600;
  font-size: 1rem;
}
.tile-grid-v2 .tile-grid-item .tile-grid-item-inner .meta span:nth-child(2) {
  display: flex;
  align-items: center;
}
.tile-grid-v2 .tile-grid-item .tile-grid-item-inner .meta span:nth-child(2) span {
  display: inline-block;
  color: var(--light-text);
  font-size: 0.8rem;
  font-weight: 400;
}
.tile-grid-v2 .tile-grid-item .tile-grid-item-inner .meta span:nth-child(2) .icon-separator {
  position: relative;
  font-size: 4px;
  color: var(--light-text);
  padding: 0 6px;
}
.tile-grid-v2 .tile-grid-item .tile-grid-item-inner .dropdown {
  margin-left: auto;
}
[dir=rtl] .tile-grid-v2 .tile-grid-item .tile-grid-item-inner .dropdown {
  margin-left: unset;
  margin-right: auto;
}
.is-dark .tile-grid .tile-grid-item {
  background: var(--dark-sidebar-light-6);
  border-color: var(--dark-sidebar-light-12);
}
.is-dark .tile-grid .tile-grid-item .v-avatar img {
  border-color: var(--dark-sidebar-light-6) !important;
}
.is-dark .tile-grid .tile-grid-item .avatar-stack .v-avatar {
  border-color: var(--dark-sidebar-light-6) !important;
}
.is-dark .tile-grid .tile-grid-item .avatar-stack .v-avatar .avatar.is-more .inner {
  border-color: var(--dark-sidebar-light-6) !important;
}
.is-dark .tile-grid-v2 .tile-grid-item {
  background: var(--dark-sidebar-light-6);
  border-color: var(--dark-sidebar-light-12);
}
.is-dark .tile-grid-v2 .tile-grid-item .v-avatar img {
  border-color: var(--dark-sidebar-light-6) !important;
}
.is-dark .tile-grid-v2 .tile-grid-item .avatar-stack .v-avatar {
  border-color: var(--dark-sidebar-light-6) !important;
}
.is-dark .tile-grid-v2 .tile-grid-item .avatar-stack .v-avatar .avatar.is-more .inner {
  border-color: var(--dark-sidebar-light-6) !important;
}
.is-dark .tile-grid-v2 .tile-grid-item:hover {
  border-color: var(--primary) !important;
}