.list-view-v1 .list-view-item {
  flex: 1;
  display: inline-block;
  width: 100%;
  padding: 20px;
  background-color: var(--white);
  border-radius: 10px;
  border: 1px solid var(--fade-grey-dark-3);
  transition: all 0.3s;
  margin-bottom: 16px;
  padding: 16px;
}
.list-view-v1 .list-view-item.has-margin-bottom {
  margin-bottom: 1.5rem;
}
.list-view-v1 .list-view-item.is-flat {
  box-shadow: none;
}
.list-view-v1 .list-view-item.is-raised {
  box-shadow: var(--light-box-shadow);
}
.list-view-v1 .list-view-item.is-primary {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--primary--color-invert);
}
.list-view-v1 .list-view-item.is-primary .title,
.list-view-v1 .list-view-item.is-primary .subtitle,
.list-view-v1 .list-view-item.is-primary h1,
.list-view-v1 .list-view-item.is-primary h2,
.list-view-v1 .list-view-item.is-primary h3,
.list-view-v1 .list-view-item.is-primary h4,
.list-view-v1 .list-view-item.is-primary p {
  color: var(--smoke-white) !important;
}
.list-view-v1 .list-view-item.is-secondary {
  background: var(--secondary) !important;
  border-color: var(--secondary) !important;
}
.list-view-v1 .list-view-item.is-secondary .title,
.list-view-v1 .list-view-item.is-secondary .subtitle,
.list-view-v1 .list-view-item.is-secondary h1,
.list-view-v1 .list-view-item.is-secondary h2,
.list-view-v1 .list-view-item.is-secondary h3,
.list-view-v1 .list-view-item.is-secondary h4,
.list-view-v1 .list-view-item.is-secondary p {
  color: var(--smoke-white) !important;
}
.list-view-v1 .list-view-item.is-info {
  background: var(--info) !important;
  border-color: var(--info) !important;
}
.list-view-v1 .list-view-item.is-info .title,
.list-view-v1 .list-view-item.is-info .subtitle,
.list-view-v1 .list-view-item.is-info h1,
.list-view-v1 .list-view-item.is-info h2,
.list-view-v1 .list-view-item.is-info h3,
.list-view-v1 .list-view-item.is-info h4,
.list-view-v1 .list-view-item.is-info p {
  color: var(--smoke-white) !important;
}
.list-view-v1 .list-view-item.is-success {
  background: var(--success) !important;
  border-color: var(--success) !important;
}
.list-view-v1 .list-view-item.is-success .title,
.list-view-v1 .list-view-item.is-success .subtitle,
.list-view-v1 .list-view-item.is-success h1,
.list-view-v1 .list-view-item.is-success h2,
.list-view-v1 .list-view-item.is-success h3,
.list-view-v1 .list-view-item.is-success h4,
.list-view-v1 .list-view-item.is-success p {
  color: var(--smoke-white) !important;
}
.list-view-v1 .list-view-item.is-warning {
  background: var(--warning) !important;
  border-color: var(--warning) !important;
}
.list-view-v1 .list-view-item.is-warning .title,
.list-view-v1 .list-view-item.is-warning .subtitle,
.list-view-v1 .list-view-item.is-warning h1,
.list-view-v1 .list-view-item.is-warning h2,
.list-view-v1 .list-view-item.is-warning h3,
.list-view-v1 .list-view-item.is-warning h4,
.list-view-v1 .list-view-item.is-warning p {
  color: var(--smoke-white) !important;
}
.list-view-v1 .list-view-item.is-danger {
  background: var(--danger) !important;
  border-color: var(--danger) !important;
}
.list-view-v1 .list-view-item.is-danger .title,
.list-view-v1 .list-view-item.is-danger .subtitle,
.list-view-v1 .list-view-item.is-danger h1,
.list-view-v1 .list-view-item.is-danger h2,
.list-view-v1 .list-view-item.is-danger h3,
.list-view-v1 .list-view-item.is-danger h4,
.list-view-v1 .list-view-item.is-danger p {
  color: var(--smoke-white) !important;
}
.list-view-v1 .list-view-item .card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-view-v1 .list-view-item .card-head .left,
.list-view-v1 .list-view-item .card-head .right {
  display: flex;
  align-items: center;
}
.list-view-v1 .list-view-item .card-head .left .title {
  font-size: 1.2rem;
  font-weight: 500;
}
.list-view-v1 .list-view-item .card-head .right {
  justify-content: flex-end;
}
.list-view-v1 .list-view-item .card-inner {
  padding-top: 1.75rem;
}
.list-view-v1 .list-view-item .list-view-item-inner {
  display: flex;
  align-items: center;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-left {
  margin-left: 16px;
}
[dir=rtl] .list-view-v1 .list-view-item .list-view-item-inner .meta-left {
  margin-left: unset;
  margin-right: 16px;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-left h3 {
  font-family: var(--font-alt);
  color: var(--dark-text);
  font-weight: 600;
  font-size: 1rem;
  line-height: 1;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-left > span:not(.tag) {
  font-size: 0.9rem;
  color: var(--light-text);
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-left > span:not(.tag) svg {
  height: 12px;
  width: 12px;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
[dir=rtl] .list-view-v1 .list-view-item .list-view-item-inner .meta-right {
  margin-left: unset;
  margin-right: auto;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right .tags {
  margin-right: 30px;
  margin-bottom: 0;
}
[dir=rtl] .list-view-v1 .list-view-item .list-view-item-inner .meta-right .tags {
  margin-left: 30px;
  margin-right: unset;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right .tags .tag {
  margin-bottom: 0;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right .stats {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
[dir=rtl] .list-view-v1 .list-view-item .list-view-item-inner .meta-right .stats {
  margin-left: 30px;
  margin-right: unset;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right .stats .stat {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: var(--light-text);
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right .stats .stat > span {
  font-family: var(--font);
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right .stats .stat > span:first-child {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--dark-text);
  line-height: 1.4;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right .stats .stat > span:nth-child(2) {
  text-transform: uppercase;
  font-family: var(--font-alt);
  font-size: 0.75rem;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right .stats .stat svg {
  height: 16px;
  width: 16px;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right .stats .stat i {
  font-size: 1.4rem;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right .stats .separator {
  height: 25px;
  width: 2px;
  border-right: 1px solid var(--fade-grey-dark-3);
  margin: 0 16px;
}
[dir=rtl] .list-view-v1 .list-view-item .list-view-item-inner .meta-right .stats .separator {
  border-right: none;
  border-left: 1px solid var(--fade-grey-dark-3);
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right .network {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 145px;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right .network > span {
  font-family: var(--font);
  font-size: 0.9rem;
  color: var(--light-text);
  margin-left: 6px;
}
[dir=rtl] .list-view-v1 .list-view-item .list-view-item-inner .meta-right .network > span {
  margin-left: unset;
  margin-right: 6px;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right .dropdown {
  margin-left: 30px;
}
[dir=rtl] .list-view-v1 .list-view-item .list-view-item-inner .meta-right .dropdown {
  margin-left: unset;
  margin-right: 30px;
}
.is-dark .list-view-v1 .list-view-item {
  background: var(--dark-sidebar-light-6);
  border-color: var(--dark-sidebar-light-12);
}
.is-dark .list-view-v1 .list-view-item .v-avatar img {
  border-color: var(--dark-sidebar-light-6) !important;
}
.is-dark .list-view-v1 .list-view-item .avatar-stack .v-avatar {
  border-color: var(--dark-sidebar-light-6) !important;
}
.is-dark .list-view-v1 .list-view-item .avatar-stack .v-avatar .avatar.is-more .inner {
  border-color: var(--dark-sidebar-light-6) !important;
}
.is-dark .list-view-v1 .list-view-item .list-view-item-inner .meta-left h3 {
  color: var(--dark-dark-text) !important;
}
.is-dark .list-view-v1 .list-view-item .list-view-item-inner .meta-right .stats .stat span:first-child {
  color: var(--dark-dark-text);
}
.is-dark .list-view-v1 .list-view-item .list-view-item-inner .meta-right .stats .separator {
  border-color: var(--dark-sidebar-light-16) !important;
}
@media only screen and (max-width: 767px) {
.list-view-v1 .list-view-item .list-view-item-inner {
    position: relative;
    flex-direction: column;
}
.list-view-v1 .list-view-item .list-view-item-inner .v-avatar {
    margin-bottom: 10px;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-left {
    margin-left: 0;
}
[dir=rtl] .list-view-v1 .list-view-item .list-view-item-inner .meta-left {
    margin-left: unset;
    margin-right: 0;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right {
    flex-direction: column;
    margin-left: 0;
}
[dir=rtl] .list-view-v1 .list-view-item .list-view-item-inner .meta-right {
    margin-left: unset;
    margin-right: 0;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right .tags {
    margin: 10px 0;
}
[dir=rtl] .list-view-v1 .list-view-item .list-view-item-inner .meta-right .tags {
    margin: 10px 0;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right .stats {
    margin: 10px 0;
}
[dir=rtl] .list-view-v1 .list-view-item .list-view-item-inner .meta-right .stats {
    margin: 10px 0;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right .network {
    margin: 10px 0 0 0;
    justify-content: center;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right .network > span {
    display: none;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right .dropdown {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 0;
}
[dir=rtl] .list-view-v1 .list-view-item .list-view-item-inner .meta-right .dropdown {
    margin-left: unset;
    margin-right: 0;
    right: unset;
    left: 0;
}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
.list-view-v1 {
    display: flex;
    flex-wrap: wrap;
}
.list-view-v1 .list-view-item {
    margin: 10px;
    width: calc(50% - 20px);
}
.list-view-v1 .list-view-item .list-view-item-inner {
    position: relative;
    flex-direction: column;
}
.list-view-v1 .list-view-item .list-view-item-inner .v-avatar {
    margin-bottom: 10px;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-left {
    margin-left: 0;
}
[dir=rtl] .list-view-v1 .list-view-item .list-view-item-inner .meta-left {
    margin-left: unset;
    margin-right: 0;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right {
    flex-direction: column;
    margin-left: 0;
}
[dir=rtl] .list-view-v1 .list-view-item .list-view-item-inner .meta-right {
    margin-left: unset;
    margin-right: 0;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right .tags {
    margin: 10px 0;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right .stats {
    margin: 10px 0;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right .network {
    margin: 10px 0 0 0;
    justify-content: center;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right .network > span {
    display: none;
}
.list-view-v1 .list-view-item .list-view-item-inner .meta-right .dropdown {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 0;
}
[dir=rtl] .list-view-v1 .list-view-item .list-view-item-inner .meta-right .dropdown {
    margin-left: unset;
    margin-right: 0;
    left: 0;
    right: unset;
}
}