/*! _widgets-lists.scss | Vuero | Css ninja 2020-2021 */
/* ==========================================================================
List Widgets Styles
========================================================================== */
/*
    1. List Widget Base
    2. List Widget V1
    3. List Widget V2
    4. List Widget V3
    5. Media Queries
*/
/* ==========================================================================
1. List Widget Base
========================================================================== */
.list-widget {
  flex: 1;
  display: inline-block;
  width: 100%;
  padding: 20px;
  background-color: var(--white);
  border-radius: 16px;
  border: 1px solid var(--fade-grey-dark-3);
  transition: all 0.3s;
  padding: 30px;
}
.list-widget.has-margin-bottom {
  margin-bottom: 1.5rem;
}
.list-widget.is-flat {
  box-shadow: none;
}
.list-widget.is-raised {
  box-shadow: var(--light-box-shadow);
}
.list-widget.is-primary {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--primary--color-invert);
}
.list-widget.is-primary .title,
.list-widget.is-primary .subtitle,
.list-widget.is-primary h1,
.list-widget.is-primary h2,
.list-widget.is-primary h3,
.list-widget.is-primary h4,
.list-widget.is-primary p {
  color: var(--smoke-white) !important;
}
.list-widget.is-secondary {
  background: var(--secondary) !important;
  border-color: var(--secondary) !important;
}
.list-widget.is-secondary .title,
.list-widget.is-secondary .subtitle,
.list-widget.is-secondary h1,
.list-widget.is-secondary h2,
.list-widget.is-secondary h3,
.list-widget.is-secondary h4,
.list-widget.is-secondary p {
  color: var(--smoke-white) !important;
}
.list-widget.is-info {
  background: var(--info) !important;
  border-color: var(--info) !important;
}
.list-widget.is-info .title,
.list-widget.is-info .subtitle,
.list-widget.is-info h1,
.list-widget.is-info h2,
.list-widget.is-info h3,
.list-widget.is-info h4,
.list-widget.is-info p {
  color: var(--smoke-white) !important;
}
.list-widget.is-success {
  background: var(--success) !important;
  border-color: var(--success) !important;
}
.list-widget.is-success .title,
.list-widget.is-success .subtitle,
.list-widget.is-success h1,
.list-widget.is-success h2,
.list-widget.is-success h3,
.list-widget.is-success h4,
.list-widget.is-success p {
  color: var(--smoke-white) !important;
}
.list-widget.is-warning {
  background: var(--warning) !important;
  border-color: var(--warning) !important;
}
.list-widget.is-warning .title,
.list-widget.is-warning .subtitle,
.list-widget.is-warning h1,
.list-widget.is-warning h2,
.list-widget.is-warning h3,
.list-widget.is-warning h4,
.list-widget.is-warning p {
  color: var(--smoke-white) !important;
}
.list-widget.is-danger {
  background: var(--danger) !important;
  border-color: var(--danger) !important;
}
.list-widget.is-danger .title,
.list-widget.is-danger .subtitle,
.list-widget.is-danger h1,
.list-widget.is-danger h2,
.list-widget.is-danger h3,
.list-widget.is-danger h4,
.list-widget.is-danger p {
  color: var(--smoke-white) !important;
}
.list-widget .card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-widget .card-head .left,
.list-widget .card-head .right {
  display: flex;
  align-items: center;
}
.list-widget .card-head .left .title {
  font-size: 1.2rem;
  font-weight: 500;
}
.list-widget .card-head .right {
  justify-content: flex-end;
}
.list-widget .card-inner {
  padding-top: 1.75rem;
}
.list-widget:not(:last-child) {
  margin-bottom: 1.5rem;
}
.list-widget.is-straight {
  flex: 1;
  display: inline-block;
  width: 100%;
  padding: 20px;
  background-color: var(--white);
  border-radius: var(--radius-large);
  border: 1px solid var(--fade-grey-dark-3);
  transition: all 0.3s;
}
.list-widget.is-straight.has-margin-bottom {
  margin-bottom: 1.5rem;
}
.list-widget.is-straight.is-flat {
  box-shadow: none;
}
.list-widget.is-straight.is-raised {
  box-shadow: var(--light-box-shadow);
}
.list-widget.is-straight.is-primary {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--primary--color-invert);
}
.list-widget.is-straight.is-primary .title,
.list-widget.is-straight.is-primary .subtitle,
.list-widget.is-straight.is-primary h1,
.list-widget.is-straight.is-primary h2,
.list-widget.is-straight.is-primary h3,
.list-widget.is-straight.is-primary h4,
.list-widget.is-straight.is-primary p {
  color: var(--smoke-white) !important;
}
.list-widget.is-straight.is-secondary {
  background: var(--secondary) !important;
  border-color: var(--secondary) !important;
}
.list-widget.is-straight.is-secondary .title,
.list-widget.is-straight.is-secondary .subtitle,
.list-widget.is-straight.is-secondary h1,
.list-widget.is-straight.is-secondary h2,
.list-widget.is-straight.is-secondary h3,
.list-widget.is-straight.is-secondary h4,
.list-widget.is-straight.is-secondary p {
  color: var(--smoke-white) !important;
}
.list-widget.is-straight.is-info {
  background: var(--info) !important;
  border-color: var(--info) !important;
}
.list-widget.is-straight.is-info .title,
.list-widget.is-straight.is-info .subtitle,
.list-widget.is-straight.is-info h1,
.list-widget.is-straight.is-info h2,
.list-widget.is-straight.is-info h3,
.list-widget.is-straight.is-info h4,
.list-widget.is-straight.is-info p {
  color: var(--smoke-white) !important;
}
.list-widget.is-straight.is-success {
  background: var(--success) !important;
  border-color: var(--success) !important;
}
.list-widget.is-straight.is-success .title,
.list-widget.is-straight.is-success .subtitle,
.list-widget.is-straight.is-success h1,
.list-widget.is-straight.is-success h2,
.list-widget.is-straight.is-success h3,
.list-widget.is-straight.is-success h4,
.list-widget.is-straight.is-success p {
  color: var(--smoke-white) !important;
}
.list-widget.is-straight.is-warning {
  background: var(--warning) !important;
  border-color: var(--warning) !important;
}
.list-widget.is-straight.is-warning .title,
.list-widget.is-straight.is-warning .subtitle,
.list-widget.is-straight.is-warning h1,
.list-widget.is-straight.is-warning h2,
.list-widget.is-straight.is-warning h3,
.list-widget.is-straight.is-warning h4,
.list-widget.is-straight.is-warning p {
  color: var(--smoke-white) !important;
}
.list-widget.is-straight.is-danger {
  background: var(--danger) !important;
  border-color: var(--danger) !important;
}
.list-widget.is-straight.is-danger .title,
.list-widget.is-straight.is-danger .subtitle,
.list-widget.is-straight.is-danger h1,
.list-widget.is-straight.is-danger h2,
.list-widget.is-straight.is-danger h3,
.list-widget.is-straight.is-danger h4,
.list-widget.is-straight.is-danger p {
  color: var(--smoke-white) !important;
}
.list-widget.is-straight .card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-widget.is-straight .card-head .left,
.list-widget.is-straight .card-head .right {
  display: flex;
  align-items: center;
}
.list-widget.is-straight .card-head .left .title {
  font-size: 1.2rem;
  font-weight: 500;
}
.list-widget.is-straight .card-head .right {
  justify-content: flex-end;
}
.list-widget.is-straight .card-inner {
  padding-top: 1.75rem;
}
.list-widget.tabbed-widget .widget-head .tabbed-controls {
  position: relative;
  display: flex;
  min-width: 140px;
  height: 32px;
  background: var(--widget-grey-dark-2);
  font-family: var(--font);
  border-radius: 8px;
}
.list-widget.tabbed-widget .widget-head .tabbed-controls .tabbed-control {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: var(--light-text);
  z-index: 1;
}
.list-widget.tabbed-widget .widget-head .tabbed-controls .tabbed-control.is-active {
  color: var(--smoke-white);
}
.list-widget.tabbed-widget .widget-head .tabbed-controls .tabbed-control.is-active:first-child ~ .tabbed-naver {
  margin-left: 0;
}
[dir=rtl] .list-widget.tabbed-widget .widget-head .tabbed-controls .tabbed-control.is-active:first-child ~ .tabbed-naver {
  margin-left: unset;
  margin-right: 0;
}
.list-widget.tabbed-widget .widget-head .tabbed-controls .tabbed-control.is-active:nth-child(2) ~ .tabbed-naver {
  margin-left: 50%;
}
[dir=rtl] .list-widget.tabbed-widget .widget-head .tabbed-controls .tabbed-control.is-active:nth-child(2) ~ .tabbed-naver {
  margin-left: unset;
  margin-right: 50%;
}
.list-widget.tabbed-widget .widget-head .tabbed-controls .tabbed-naver {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 8px;
  background: var(--primary);
  margin-left: 0;
  transition: all 0.3s;
  z-index: 0;
}
[dir=rtl] .list-widget.tabbed-widget .widget-head .tabbed-controls .tabbed-naver {
  left: unset;
  right: 0;
}
[dir=rtl] .list-widget.tabbed-widget .widget-head .tabbed-controls .tabbed-naver {
  margin-left: unset;
  margin-right: 0;
}
.list-widget.tabbed-widget .inner-list-wrapper {
  display: none;
  animation: fadeInLeft 0.5s;
}
.list-widget.tabbed-widget .inner-list-wrapper.is-active {
  display: block;
}
.list-widget .widget-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  margin-bottom: 10px;
}
.list-widget .widget-head h3 {
  color: var(--dark-text);
  font-size: 1.1rem;
  font-weight: 500;
}
.list-widget .inner-list {
  padding: 10px 0;
}
.list-widget .inner-list .inner-list-item + .inner-list-item {
  margin-top: 24px;
}
.is-dark .list-widget {
  background: var(--dark-sidebar-light-6);
  border-color: var(--dark-sidebar-light-12);
}
.is-dark .list-widget .v-avatar img {
  border-color: var(--dark-sidebar-light-6) !important;
}
.is-dark .list-widget .avatar-stack .v-avatar {
  border-color: var(--dark-sidebar-light-6) !important;
}
.is-dark .list-widget .avatar-stack .v-avatar .avatar.is-more .inner {
  border-color: var(--dark-sidebar-light-6) !important;
}
.is-dark .list-widget.tabbed-widget .widget-head .tabbed-controls {
  background: var(--dark-sidebar-light-3);
}
.is-dark .list-widget.tabbed-widget .widget-head .tabbed-controls .tabbed-naver {
  background: var(--primary);
}
/* ==========================================================================
2. List Widget V1
========================================================================== */
.list-widget.list-widget-v1 .go-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  border-radius: var(--radius-rounded);
  background: var(--widget-grey);
  color: var(--light-text);
}
.list-widget.list-widget-v1 .go-icon::before {
  content: attr(data-content);
  position: absolute;
  left: -45px;
  font-family: var(--font);
  font-size: 0.95rem;
  font-weight: 500;
}
[dir=rtl] .list-widget.list-widget-v1 .go-icon::before {
  left: unset;
  right: -45px;
}
.list-widget.list-widget-v1 .go-icon.is-squared {
  border-radius: 10px;
}
.list-widget.list-widget-v1 .go-icon.is-up::before {
  color: var(--green);
}
.list-widget.list-widget-v1 .go-icon.is-down::before {
  color: var(--red);
}
.list-widget.list-widget-v1 .go-icon svg {
  height: 16px;
  width: 16px;
  stroke-width: 3px;
}
.is-dark .list-widget.list-widget-v1 .go-icon {
  background: var(--dark-sidebar-light-3);
  border: 1px solid var(--dark-sidebar-light-12);
}
/* ==========================================================================
3. List Widget V2
========================================================================== */
.list-widget.list-widget-v2 .image-icon {
  height: 40px;
  width: 40px;
}
/* ==========================================================================
4. List Widget V3
========================================================================== */
.list-widget.list-widget-v3 .icon-timeline .timeline-item {
  position: relative;
  display: flex;
  padding-bottom: 30px;
}
.list-widget.list-widget-v3 .icon-timeline .timeline-item::after {
  content: "";
  position: absolute;
  top: 36px;
  left: 18px;
  width: 1px;
  height: calc(100% - 36px);
  border-left: 1px solid var(--fade-grey-dark-3);
}
[dir=rtl] .list-widget.list-widget-v3 .icon-timeline .timeline-item::after {
  left: unset;
  right: 18px;
}
[dir=rtl] .list-widget.list-widget-v3 .icon-timeline .timeline-item::after {
  border-left: none;
  border-right: 1px solid var(--fade-grey-dark-3);
}
.list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-icon {
  position: relative;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  border: 1px solid var(--fade-grey-dark-3);
  border-radius: var(--radius-rounded);
  color: var(--light-text);
  box-shadow: var(--light-box-shadow);
}
.list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-icon::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 40px;
  width: 20px;
  height: 1px;
  border-top: 1px solid var(--fade-grey-dark-3);
}
[dir=rtl] .list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-icon::after {
  left: unset;
  right: 40px;
}
.list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-icon.is-squared {
  border-radius: 10px;
}
.list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-icon.is-squared img {
  border-radius: 10px;
}
.list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-icon.is-primary {
  background: var(--primary);
  border-color: var(--primary);
  box-shadow: var(--primary-box-shadow);
}
.list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-icon.is-primary svg {
  color: var(--smoke-white);
}
.list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-icon.is-info {
  background: var(--info);
  border-color: var(--info);
  box-shadow: var(--info-box-shadow);
}
.list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-icon.is-info svg {
  color: var(--smoke-white);
}
.list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-icon.is-success {
  background: var(--success);
  border-color: var(--success);
  box-shadow: var(--success-box-shadow);
}
.list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-icon.is-success svg {
  color: var(--smoke-white);
}
.list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-icon.is-orange {
  background: var(--orange);
  border-color: var(--orange);
  box-shadow: var(--orange-box-shadow);
}
.list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-icon.is-orange svg {
  color: var(--smoke-white);
}
.list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-icon.is-yellow {
  background: var(--yellow);
  border-color: var(--yellow);
}
.list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-icon.is-yellow svg {
  color: var(--smoke-white);
}
.list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-icon img {
  display: block;
  height: 28px;
  width: 28px;
  border-radius: var(--radius-rounded);
}
.list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-icon svg {
  height: 16px;
  width: 16px;
  stroke-width: 1.6px;
}
.list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-content {
  margin-left: 34px;
  line-height: 1.2;
}
[dir=rtl] .list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-content {
  margin-left: unset;
  margin-right: 34px;
}
.list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-content span {
  font-size: 0.85rem;
  color: var(--light-text);
}
.list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-content p {
  font-family: var(--font-alt);
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--dark-text);
}
/* ==========================================================================
5. Media Queries
========================================================================== */
.is-dark .list-widget.list-widget-v3 .icon-timeline .timeline-item::after {
  border-color: var(--dark-sidebar-light-12) !important;
}
.is-dark .list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-icon:not(.is-primary):not(.is-info):not(.is-success):not(.is-orange):not(.is-yellow) {
  background: var(--dark-sidebar-light-3) !important;
  border-color: var(--dark-sidebar-light-12) !important;
}
.is-dark .list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-icon::after {
  border-color: var(--dark-sidebar-light-12) !important;
}
.is-dark .list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-icon.is-primary {
  background: var(--primary);
  border-color: var(--primary);
  box-shadow: var(--primary-box-shadow);
}
.is-dark .list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-icon.is-primary svg {
  color: var(--smoke-white);
}
.is-dark .list-widget.list-widget-v3 .icon-timeline .timeline-item .timeline-content p {
  color: var(--dark-dark-text);
}